
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
.rvlogin-section
 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(160deg, #f3f6fb7a 0%, #dfe7f58a 25%, #c3c9ee8a 55%, #9b86e5b3 100%), url(./bg-01.svg);
	 
	 
 
	 
}
.rv-card {
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(100%) blur(30px);
    width: 100%;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.4392156863);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1019607843);
    margin: 15px;
}

.rv-card-body {
    width: 100%;
}
.rv-card-body .rv-hadding {
    text-align: center;
    padding-bottom: 15px;
}
.rv-card-body .rv-hadding h1 {
    font-size: 26px;
    margin: 0;
}
.rv-card-body .rv-hadding h3 {
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
    margin-top: 10px;
}
.rv-card-body .rv-hadding h4 {
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
}
 
.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 20px;
	    position: relative;
}

.form-control {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #a190e6;
    padding: 0 10px;
    max-width: 100%;
    color: #000;
}
.btn.btn-primary {
    width: 100%;
    height: 50px;
    background: #6240db;
    border: 2px solid #6240db;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.btn.btn-primary:hover {
    transition: .5s;
    background: #fff;
    color: #6240db;
}
.form-control:focus,
.form-control:focus-visible {
    border: 1px solid green;
    outline: unset;
}

.form-group .toggle-password {
    position: absolute;
    right: 2px;
    cursor: pointer;
    bottom: 0;
    width: 50px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
}
.form-group .toggle-password.show i::before {
    content: "\f33f";
}
.form-group.text-right {
    text-align: right;
    margin-top: -10px;
}
.form-group.text-right #resendBtn .newotp {
    font-weight: 600;
    color: #6240db;
}
 
.form-group.text-right #resendBtn  {
	    font-weight: 600;
    background: unset;
    border: unset;
    margin: 0;
    cursor: pointer;
    color: #6240db;
	pointer-events: visible;
}
.alert.alert-danger {
    color: #ff0000;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.form-group.text-right button:disabled {
   cursor: no-drop !important;
	pointer-events: none !important;
}